@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

// Font

$MyFont: "Inter";

$SmFW: 300;
$RegFW: 400;
$BoldFW: 600;

$MyFontSize: 14px;

// Colors

$TextColor: #333e48;
$HoverLinkColor: #F89A20;
$BorderColor: #DCDCDC;
$BackgroundColor: #F5F5F5;
$ButtonTextColor: #FFFFFF;
$BoxShadowColor: #223C50;
$DropShadowColor: #000000;

$OrangeLightGradient: #F89A20;
$OrangeDarkGradient: #F77F00;

$BlueLightGradient: #0095CC;
$BlueDarkGradient: #00678E;